.container {
  margin: 40px 100px;
  margin-bottom: 50px;
}

.game-bets-free,
.players-bets-free,
.game-bets-premium {
  border-right: 1px solid;
}

.text-class {
  margin-left: 0px;
  font-size: 28px;
}

.text-class-2 {
  margin-left: 20px;
  font-size: 28px;
}
