@import '../theme.css';

.signup-signin-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    background: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: var(--navbar-color);
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: var(--navbar-color);
    border-radius: 9px;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 10px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
}

.input img {
    margin: 0px 20px;
}

.input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 40px;
    margin-top: 10px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: var(--navbar-color);
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 15px auto;
}

.error-message {
    color: #dc2626;
    font-weight: bold;
    margin-left: 25px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: var(--navbar-color);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* .flex-row-center {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 350px;
    margin-top: 20px;
    margin-left: 25px;
}

.divider-line {
    border-bottom: 2px solid;
    margin-bottom: 10px;
    width: 100%;
    color: #888888;
}

.divider-left {
    margin-right: 10px;
}

.divider-right {
    margin-left: 10px;
}

.or-text {
    font-size: 0.875rem;
    font-weight: bold;
    width: fit-content;
}

.sign-in-with-google {
    height: 40px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2.5px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: medium;
    transition: all 0.3s ease-in-out;
}

.sign-in-with-google:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.sign-in-with-google:hover:not(:disabled) {
    background-color: #f5f5f5;
}

.sign-in-with-google:active:not(:disabled) {
    background-color: #e0e0e0;
}

.svg-icon {
    fill: none;
    width: 25px;
    height: 25px;
}

.svg-icon path:nth-child(1) {
    fill: #4285F4;
}

.svg-icon path:nth-child(2) {
    fill: #34A853;
}

.svg-icon path:nth-child(3) {
    fill: #FBBC04;
}

.svg-icon path:nth-child(4) {
    fill: #EA4335;
} */